<h1>Organizations</h1>

<div class="list-group">
  <% @organizations.each do |organization| %>  
    <%= link_to organization, organization, class: 'list-group-item list-group-item-action' %>
  <% end %>
</div>


